<html ng-app="game">
<head>
	<meta charset="utf8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="/favicon.ico">
	<title> Игра "Память" </title>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-touch/angular-touch.js"></script>
	<script src="/javascripts/angular-locale_ru-ru.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>

	<script src="/javascripts/game.js"></script>
	<script src="/javascripts/index.js"></script>
</head>
<body ng-app="game">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<a href="/github" >
			<img class="visible-md visible-lg" style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
		</a>
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="index">Память</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a menu-item ui-sref="index">Главная</a></li>
					<li><a menu-item ui-sref="game">Игра</a></li>
					<li><a menu-item ui-sref="famehall">Зал славы</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container" role="main" style="margin-top: 60px;">
		<div ui-view="viewA"></div>
	</div>
	<div class="container">
		<div ui-view="viewB"></div>
	</div>

	<div class="container">
		<hr/>
		<footer>
			<p>© <a href="https://github.com/aretmy">aretmy</a> 2014</p>
		</footer>
	</div>
	<script>
		angular.module('gameMemory')
			.config(['$provide', function($provide) {
				$provide.decorator('styles', function() {
					return <%- JSON.stringify(styles) %>;
				});
				$provide.decorator('modes', function() {
					return <%- JSON.stringify(modes) %>;
				});
			}]);
	</script>
</body>
</html>