<div>
	<div class="center-block game-{{::game.width}} game">
        <div class="clearfix row">
            <div class="col-lg-4 col-sm-4 col-xs-4 time-block">
                <span class="text-left"> {{ game.time | time }} </span>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-4 score-block">
                <span class="text-center"> {{ game.counters.opened }} / {{ game.count }} </span>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-4 turns-block">
                <span class="text-right">
                {{ game.counters.turns }}
                </span>
            </div>
        </div>
        <memory game="game" class="center-block" style="width: {{::game.width * 64}}px"></memory>
	</div>

</div>
