<div>
	<div class="center-block" style="width: {{::game.width * 64 }}px">
        <div class="clearfix row">
            <div class="col-lg-4">
                <h2 class="text-left"> {{ game.time | time }} </h2>
            </div>

            <div class="col-lg-4">
                <h2 class="text-center"> {{ game.counters.opened }} / {{ game.count }} </h2>
            </div>

            <div class="col-lg-4">
                <h2 class="text-right">
                {{ game.counters.turns }}
                </h2>
            </div>
        </div>
        <memory game="game"></memory>
	</div>

</div>
