<div class="row">
	<div class="col-md-4">
		<h2>Скорость</h2>
		<p>Стань самым быстрым игроком среди всех и попадешь в Аллею Скорости! </p>
		<p><a class="btn btn-success" ui-sref="famehall.speed" role="button">В Аллею Скорости »</a></p>
	</div>
	<div class="col-md-4">
		<h2>Точность</h2>
		<p>Стань самым точным игроком, допусти меньше всего ошибок и попадешь в Аллею Точности! </p>
		<p><a class="btn btn-success" ui-sref="famehall.strict" role="button">В Аллею Точности »</a></p>
	</div>
	<div class="col-md-4">
		<h2>Победитель</h2>
		<p>Стань самым быстрым и точным среди всех игроков и попадешь в Аллею Славы Лучших из Лучших!.</p>
		<p><a class="btn btn-success" ui-sref="famehall.best" role="button">Вперед! »</a></p>
	</div>
</div>