<div class="settings row">
	<h1> Игра "Память" </h1>
	<span class="help-block"> Выберите тип игры </span>

	<div class="row">
		<div class="col-lg-3">
			<a class="btn btn-info btn-lg btn-block" ng-click="createGame({ width: 2, height: 2})"> Легкая игра (2x2)</a>
		</div>
		<div class="col-lg-3">
			<a class="btn btn-info btn-lg btn-block" ng-click="createGame({ width: 4, height: 4})"> Легкая игра (4x4)</a>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-lg-3">
			<a class="btn btn-default btn-lg btn-block" ng-click="createGame({ width: 5, height: 6})"> Средняя игра (5x6)</a>
		</div>
		<div class="col-lg-3">
			<a class="btn btn-success btn-lg btn-block" ng-click="createGame({ width: 6, height: 6})"> Сложная игра (6x6)</a>
		</div>
	</div>
	<hr/>

</div>

<a class="btn btn-primary" ng-click="createGame()"> Начать игру </a>

