<div class="settings row">
	<h1> Игра "Память" </h1>
	<span class="help-block"> Выберите тип игры </span>

	<a class="style-link" ng-class="{ selected: $parent.style == style }" ng-click="chooseStyle(style)" ng-repeat="(style, params) in styles">
		<img class="img-circle" ng-src="images/{{params.name}}/icon.png" my-title="{{params.description}}"/>
	</a>
	<hr/>
	<div ng-if="style">
		<h2>{{ styles[style].description }}</h2>
		<div ng-repeat="items in modes">
			<div class="row" >
				<div class="col-lg-3 col-sm-2" ng-repeat="item in items">
					<a class="btn {{item.cssClass}} btn-lg btn-block" ng-click="createGame({ width: item.width, height: item.height})"> {{item.name}} ({{item.width}}x{{item.height}})</a>
				</div>
			</div>
			<hr/>
		</div>
	</div>

</div>