.style-link {
	display: inline-block;
	cursor: pointer;
	border-radius: 64px;
	padding: 1px;
}

.style-link.selected {
	border: #00f 1px solid;
	padding: 0px;
}

.cell {
	width: 64px;
	height: 64px;
	float: left;
}

.cell > span {
	margin: 2px;
	width: 60px;
	height: 60px;
	border-radius: 30px;

	display: block;

	cursor: pointer;
	text-align: center;
}

.closed {
	background-image: none !important;
	background-color: #000 !important;
}

.been-open {
	background-image: none !important;
	background-color: #aaa !important;
}

.summer { background: url('../images/summer/sprite.png') no-repeat top left; width: 60px; height: 60px; }
.summer.image-0 { background-position: 0px 0px;  }
.summer.image-1 { background-position: -60px 0px;  }
.summer.image-2 { background-position: -120px 0px;  }
.summer.image-3 { background-position: -180px 0px;  }
.summer.image-4 { background-position: -240px 0px;  }
.summer.image-5 { background-position: -300px 0px;  }
.summer.image-6 { background-position: -360px 0px;  }
.summer.image-7 { background-position: -420px 0px;  }
.summer.image-8 { background-position: -480px 0px;  }
.summer.image-9 { background-position: -540px 0px;  }
.summer.image-10 { background-position: -600px 0px;  }
.summer.image-11 { background-position: -660px 0px;  }
.summer.image-12 { background-position: -720px 0px;  }
.summer.image-13 { background-position: -780px 0px;  }
.summer.image-14 { background-position: -840px 0px;  }
.summer.image-15 { background-position: -900px 0px;  }
.summer.image-16 { background-position: -960px 0px;  }
.summer.image-17 { background-position: -1020px 0px;  }
.summer.image-18 { background-position: -1080px 0px;  }
.summer.image-19 { background-position: -1140px 0px;  }

.food { background: url('../images/food/sprite.png') no-repeat top left; width: 60px; height: 60px;  }
.food.image-0 { background-position: 0px 0px;  }
.food.image-1 { background-position: -60px 0px;  }
.food.image-2 { background-position: -120px 0px;  }
.food.image-3 { background-position: -180px 0px;  }
.food.image-4 { background-position: -240px 0px;  }
.food.image-5 { background-position: -300px 0px;  }
.food.image-6 { background-position: -360px 0px;  }
.food.image-7 { background-position: -420px 0px;  }
.food.image-8 { background-position: -480px 0px;  }
.food.image-9 { background-position: -540px 0px;  }
.food.image-10 { background-position: -600px 0px;  }
.food.image-11 { background-position: -660px 0px;  }
.food.image-12 { background-position: -720px 0px;  }
.food.image-13 { background-position: -780px 0px;  }
.food.image-14 { background-position: -840px 0px;  }
.food.image-15 { background-position: -900px 0px;  }
.food.image-16 { background-position: -960px 0px;  }
.food.image-17 { background-position: -1020px 0px;  }
.food.image-18 { background-position: -1080px 0px;  }
.food.image-19 { background-position: -1140px 0px;  }

.summer-food { background: url('../images/summer-food/sprite.png') no-repeat top left; width: 60px; height: 60px;  }
.summer-food.image-0 { background-position: 0px 0px;  }
.summer-food.image-1 { background-position: -60px 0px;  }
.summer-food.image-2 { background-position: -120px 0px;  }
.summer-food.image-3 { background-position: -180px 0px;  }
.summer-food.image-4 { background-position: -240px 0px;  }
.summer-food.image-5 { background-position: -300px 0px;  }
.summer-food.image-6 { background-position: -360px 0px;  }
.summer-food.image-7 { background-position: -420px 0px;  }
.summer-food.image-8 { background-position: -480px 0px;  }
.summer-food.image-9 { background-position: -540px 0px;  }
.summer-food.image-10 { background-position: -600px 0px;  }
.summer-food.image-11 { background-position: -660px 0px;  }
.summer-food.image-12 { background-position: -720px 0px;  }
.summer-food.image-13 { background-position: -780px 0px;  }
.summer-food.image-14 { background-position: -840px 0px;  }
.summer-food.image-15 { background-position: -900px 0px;  }
.summer-food.image-16 { background-position: -960px 0px;  }
.summer-food.image-17 { background-position: -1020px 0px;  }
.summer-food.image-18 { background-position: -1080px 0px;  }
.summer-food.image-19 { background-position: -1140px 0px;  }
.summer-food.image-20 { background-position: -1200px 0px;  }
.summer-food.image-21 { background-position: -1260px 0px;  }
.summer-food.image-22 { background-position: -1320px 0px;  }
.summer-food.image-23 { background-position: -1380px 0px;  }
.summer-food.image-24 { background-position: -1440px 0px;  }
.summer-food.image-25 { background-position: -1500px 0px;  }
.summer-food.image-26 { background-position: -1560px 0px;  }
.summer-food.image-27 { background-position: -1620px 0px;  }
.summer-food.image-28 { background-position: -1680px 0px;  }
.summer-food.image-29 { background-position: -1740px 0px;  }
.summer-food.image-30 { background-position: -1800px 0px;  }
.summer-food.image-31 { background-position: -1860px 0px;  }
.summer-food.image-32 { background-position: -1920px 0px;  }
.summer-food.image-33 { background-position: -1980px 0px;  }
.summer-food.image-34 { background-position: -2040px 0px;  }
.summer-food.image-35 { background-position: -2100px 0px;  }
.summer-food.image-36 { background-position: -2160px 0px;  }
.summer-food.image-37 { background-position: -2220px 0px;  }
.summer-food.image-38 { background-position: -2280px 0px;  }
.summer-food.image-39 { background-position: -2340px 0px;  }