.row {

}

.cell {
	width: 64px;
	height: 64px;
	float: left;
}

.cell > span {
	margin: 2px;
	width: 62px;
	height: 62px;
	display: block;

	cursor: pointer;
	text-align: center;
}

.closed {
	background-color: #000;
}
.piece {
	background-size: 62px;
}
.piece-0 {
	background-image: url(../images/flowers/1.png);
}
.piece-1 {
	background-image: url(../images/flowers/2.png);
}
.piece-2 {
	background-image: url(../images/flowers/3.png);
}
.piece-3 {
	background-image: url(../images/flowers/4.png);
}
.piece-4 {
	background-image: url(../images/flowers/5.png);
}
.piece-5 {
	background-image: url(../images/flowers/6.png);
}
.piece-6 {
	background-image: url(../images/flowers/7.png);
}
.piece-7 {
	background-image: url(../images/flowers/8.png);
}
.piece-8 {
	background-image: url(../images/flowers/9.png);
}

.piece-9 {
	background-image: url(../images/flowers/10.png);
}